.header {
    display: flex;
    justify-content: space-between;

    h1 {
        font-family: font1;
        color: $color3;
        font-size: 3.6rem;
        letter-spacing: 10px;
        padding-left: 18px;
        margin: 15px;
    }

    .burger-btn {
        margin: 15px;
        padding-top: 10px;
        height: 100%;
        width: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 100;

        .burger-line {
            width: 50px;
            height: 6px;
            border-radius: 50px;
            background: $color3;
            margin: 4px;
            transition: 0.5s;
        }
   
        .line1 {
            width: 40px;   
        }
        .line1-anim {
            width: 60px;
            transform: translateY(14px) rotate(45deg);
        }
        .line2-anim {
            transform: translateY(-500px) rotate(900deg);
            opacity: 0;
        }
        .line3 {
            width: 40px;
        }
        .line3-anim {
            width: 60px;
            transform: translateY(-14px) rotate(135deg);
        }

        &::after {
            content: "";
            position: absolute;
            height: 200px;
            width: 300px;
            background: $color4;
            border-radius: 100px;
            z-index: -10;
            top: -115px;
            right: -180px;
        }
        
    }

    .navigation {
        position: absolute;
        background: $color4;
        height: 100%;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 30px;
        transform: translateX(600px);
        transition: 0.5s;

        ul {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            font-family: font1;
            color: $color3;
            font-size: 3.5rem;

            li {
                margin-top: 20px;
            }
        }
    }
}

.navigation-display {
    transform: translateX(0) !important;
}

