@font-face {
  font-family: font1;
  src: url(../assets/fonts/RampartOne-Regular.ttf);
}
@font-face {
  font-family: font2;
  src: url(../assets/fonts/Urbanist-VariableFont_wght.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  background: #ECF4F3;
  height: 100vh;
  width: 100vw;
  overflow-X: hidden;
}

.title {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h4 {
  font-size: 2rem;
  font-family: font2;
  margin-top: 30px;
  color: #FF7E67;
  text-align: center;
}

.sub-title {
  text-align: center;
  margin-top: 10px;
  font-family: font2;
  padding: 0 30px;
  color: rgb(5, 80, 85);
  line-height: 25px;
}

form {
  margin-top: 50px;
  display: grid;
  padding: 0 40px;
}
form label {
  margin-bottom: 10px;
  margin-top: 20px;
  font-family: font2;
  color: rgb(5, 80, 85);
}
form input {
  height: 30px;
  padding: 10px;
  font-family: font2;
  border: 2px solid #006A71;
  border-radius: 8px;
  box-shadow: 7px 7px 0px -3px rgb(5, 80, 85);
  transition: 0.3s;
}
form input:focus {
  outline: none;
  box-shadow: 5px 5px 0px -3px rgb(5, 80, 85);
}
form button {
  margin-top: 40px;
  height: 45px;
  border-radius: 8px;
  font-size: 1.2rem;
  font-family: font1;
  background: #FF7E67;
  border: none;
  color: #006A71;
  border: 2px solid #006A71;
  box-shadow: 7px 7px 0px -3px rgb(5, 80, 85);
  transition: 0.3s;
}
form button:active {
  box-shadow: 5px 5px 0px -3px rgb(5, 80, 85);
  transform: scale(98%);
}
@media screen and (min-width: 1200px) {
  form button:hover {
    cursor: pointer;
    background: #f26850;
  }
}
@media screen and (min-width: 799px) {
  form {
    width: 500px;
  }
}

#error, #success {
  font-family: font2;
  text-align: center;
  margin-top: 15px;
}

#error {
  color: rgb(188, 30, 30);
}

#success {
  color: green;
}

@media screen and (min-width: 799px) {
  .signin, .login {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
@media screen and (min-width: 799px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.header h1 {
  font-family: font1;
  color: #006A71;
  font-size: 3.6rem;
  letter-spacing: 10px;
  padding-left: 18px;
  margin: 15px;
}
@media screen and (min-width: 799px) {
  .header h1 {
    margin-bottom: 50px;
    color: #FF7E67;
  }
}
.header .burger-btn {
  margin: 15px;
  padding-top: 10px;
  height: 100%;
  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 100;
}
@media screen and (min-width: 799px) {
  .header .burger-btn {
    display: none;
  }
}
.header .burger-btn .burger-line {
  width: 50px;
  height: 6px;
  border-radius: 50px;
  background: #006A71;
  margin: 4px;
  transition: 0.5s;
}
.header .burger-btn .line1 {
  width: 40px;
}
.header .burger-btn .line1-anim {
  width: 60px;
  transform: translateY(14px) rotate(45deg);
}
.header .burger-btn .line2-anim {
  transform: translateY(-500px) rotate(900deg);
  opacity: 0;
}
.header .burger-btn .line3 {
  width: 40px;
}
.header .burger-btn .line3-anim {
  width: 60px;
  transform: translateY(-14px) rotate(135deg);
}
.header .burger-btn::after {
  content: "";
  position: absolute;
  height: 200px;
  width: 300px;
  background: #FF7E67;
  border-radius: 100px;
  z-index: -10;
  top: -115px;
  right: -180px;
}
.header .navigation {
  position: absolute;
  background: #FF7E67;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 15px;
  transform: translateX(-800px);
  transition: 0.5s;
  z-index: 10;
}
.header .navigation ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: font1;
  color: #006A71;
  font-size: 3.3rem;
}
.header .navigation ul li {
  margin-top: 20px;
  transition: 0.3s;
  color: #006A71;
}
.header .navigation ul li:active {
  transform: scale(95%);
}
@media screen and (min-width: 1200px) {
  .header .navigation ul li:hover {
    cursor: pointer;
    color: #FF7E67;
  }
}
@media screen and (min-width: 799px) {
  .header .navigation {
    transform: translateX(0);
    height: 80px;
    top: 100px;
    background: none;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
  }
  .header .navigation ul {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
  }
  .header .navigation ul li {
    margin: 10px;
  }
}

.navigation-display {
  transform: translate(0) !important;
}

@media screen and (min-width: 799px) {
  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .card-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
  }
}
.card-container .card {
  margin: 50px 20px;
  background: rgba(104, 176, 171, 0.323);
  border-radius: 20px 20px 10px 10px;
  font-family: font2;
  box-shadow: 10px 10px 0px -3px rgb(5, 80, 85);
  max-width: 800px;
}
@media screen and (min-width: 799px) {
  .card-container .card {
    min-width: 800px;
  }
}
@media screen and (min-width: 1200px) {
  .card-container .card {
    min-width: 400px;
    max-width: 500px;
  }
}
.card-container .card .ba-title {
  display: flex;
  justify-content: space-between;
  background: #006A71;
  padding: 10px;
  color: #FF7E67;
  letter-spacing: 3px;
  border-radius: 20px 20px 0 0;
}
.card-container .card #delete-ba {
  background: none;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  color: #ECF4F3;
  margin-right: 10px;
  transition: 0.3s;
}
.card-container .card #delete-ba:active {
  color: red;
}
@media screen and (min-width: 1200px) {
  .card-container .card #delete-ba:hover {
    cursor: pointer;
    color: red;
  }
}
.card-container .card .info-ba {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: rgb(5, 80, 85);
}
.card-container .card .text-ba {
  padding: 10px;
}
.card-container .card .text-ba p {
  line-height: 22px;
  font-weight: bold;
  color: rgb(5, 80, 85);
}
.card-container .card .likes {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-family: font1;
  color: rgb(5, 80, 85);
  font-size: 1.2rem;
}
.card-container .card .likes .like-count {
  background: #FF7E67;
  padding: 15px;
  border-radius: 0 20px 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-container .card .likes button {
  padding: 15px;
  font-family: font1;
  background: #FF7E67;
  color: rgb(175, 45, 45);
  border: none;
  border-radius: 20px 0 10px 0;
  font-size: 1.8rem;
  transition: 0.3s;
}
.card-container .card .likes button:active {
  color: red;
  transform: scale(108%);
}
@media screen and (min-width: 1200px) {
  .card-container .card .likes button:hover {
    cursor: pointer;
    color: red;
  }
}

.footer {
  background: #68B0AB;
  position: absolute;
  width: 100%;
  bottom: 0;
  font-family: font2;
  padding: 3px;
  border-radius: 20px 20px 0 0;
  position: sticky;
  border-top: 5px solid #ECF4F3;
  transition: 0.3s;
}
.footer h3 {
  text-align: center;
  color: rgb(5, 80, 85);
}
.footer .social {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: rgb(5, 80, 85);
}
.footer .social ul {
  display: flex;
}
.footer .social ul li {
  margin: 0 5px;
  padding: 3px;
}
.footer .social ul li:active {
  transform: scale(95%);
}
@media screen and (min-width: 1200px) {
  .footer .social ul li:hover {
    cursor: pointer;
  }
}

.hidden {
  opacity: 0;
}

.profil h4 {
  text-align: center;
}
.profil .account-infos {
  display: flex;
  flex-direction: column;
  padding: 30px;
  justify-content: space-evenly;
  align-items: center;
  font-family: font2;
  color: rgb(5, 80, 85);
}
.profil .account-infos p {
  text-align: center;
  margin-bottom: 50px;
}
.profil .account-infos .userInfos {
  display: grid;
  grid-gap: 5px;
}
.profil .account-infos .userInfos input {
  width: 250px;
  margin: 10px 0;
  font-family: font2;
  text-align: center;
  height: 30px;
  background: transparent;
  border: 1px solid #006A71;
  border-radius: 10px;
  transition: 0.1s;
  color: rgb(5, 80, 85);
}
.profil .account-infos .userInfos input:focus {
  outline: none;
  border: 3px solid #68B0AB;
}
.profil .account-infos .userInfos button {
  height: 30px;
  margin-bottom: 20px;
  font-family: font2;
  border: 1px solid #006A71;
  border-radius: 10px;
  background: #FF7E67;
  color: rgb(5, 80, 85);
  box-shadow: 7px 7px 0px -3px rgb(5, 80, 85);
  transition: 0.3s;
}
.profil .account-infos .userInfos button:active {
  box-shadow: 5px 5px 0px -3px rgb(5, 80, 85);
  transform: scale(98%);
}
.profil .account-infos #delete-btn {
  height: 35px;
  width: 250px;
  margin-top: 20px;
  background: rgba(233, 34, 34, 0.787);
  border: 1px solid rgb(5, 80, 85);
  font-family: font2;
  color: rgb(5, 80, 85);
  border-radius: 10px;
  box-shadow: 7px 7px 0px -3px rgb(5, 80, 85);
  transition: 0.3s;
}
.profil .account-infos #delete-btn:active {
  box-shadow: 5px 5px 0px -3px rgb(5, 80, 85);
  transform: scale(98%);
}
.profil #success-msg {
  text-align: center;
  font-family: font2;
  color: green;
}

@media screen and (min-width: 799px) {
  .Write-ba {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.Write-ba h4 {
  text-align: center;
}
.Write-ba textarea {
  border-radius: 8px;
  resize: none;
  padding: 5px;
  font-family: font2;
  border: 2px solid #006A71;
  box-shadow: 7px 7px 0px -3px rgb(5, 80, 85);
  transition: 0.3s;
}
.Write-ba textarea:focus {
  outline: none;
  box-shadow: 5px 5px 0px -3px rgb(5, 80, 85);
}/*# sourceMappingURL=index.css.map */